APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

LINE_CLIENT_ID=
LINE_CLIENT_SECRET=
LINE_CLIENT_REDIRECT=
LINE_BOT_LINK_URL=
LINE_BASE_ENDPOINT=https://api.line.me/v2/bot/
LINE_BOT_TOKEN=

TELEGRAM_CLIENT_ID=
TELEGRAM_CLIENT_SECRET=
TELEGRAM_CLIENT_REDIRECT=
TELEGRAM_BOT_LINK_URL=
TELEGRAM_BASE_ENDPOINT=https://api.telegram.org/bot
TELEGRAM_WIDGET_SRC=
TELEGRAM_REQUEST_ACCESS=

TOOTHPASTE_URL=
TOOTHPASTE_TOKEN=
HANNAH_URL=
HANNAH_APP=
HANNAH_TOKEN=

LOG_SLACK_WEBHOOK_URL=
LOG_SLACK_USERNAME=
LOG_SLACK_EMOJI=
LOG_SLACK_LEVEL=

PATIENT_API_PROVIDER=
AUTHENTICATION_API_PROVIDER=

MINI_HASH_START_AT=
MINI_HASH_LENGTH=
