.font-sarabun {
    font-family: 'Sarabun', sans-serif;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
}

.font-lobster {
    font-family: 'Lobster', cursive;
}

.font-staatliches {
    font-family: 'Staatliches', cursive;
}
